<robot name="robot">
  
  <link name="base_link" />
<link name="base_plate">
    <inertial>
      <origin xyz="-3.92967e-05 0.174521 0.091637" rpy="0 0 0" />
      <mass value="0.763578" />
      <inertia ixx="0.00155391" ixy="-5.0834e-08" ixz="-6.86279e-07" iyy="0.00155173" iyz="5.93224e-07" izz="0.00111102" />
    </inertial>
    
    <visual>
      <origin xyz="-3.92967e-05 0.174521 0.091637" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base_plate_visual.stl" />
      </geometry>
      <material name="base_plate_parts_material">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-3.92967e-05 0.174521 0.091637" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base_plate_collision.stl" />
      </geometry>
    </collision>
  </link>
  
  <link name="world">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-9" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <joint name="world_frame" type="fixed">
    <origin xyz="-0.35 0.174521 0.012" rpy="0 -0 -1.5708" />
    <parent link="base_plate" />
    <child link="world" />
    <axis xyz="0 0 0" />
  </joint>
  
  <link name="link_2">
    <inertial>
      <origin xyz="-0.0537231 8.6932e-08 0.0491927" rpy="0 0 0" />
      <mass value="0.6334" />
      <inertia ixx="0.00084659" ixy="-1.31517e-07" ixz="0.000284257" iyy="0.00107121" iyz="5.7226e-08" izz="0.00100824" />
    </inertial>
    
    <visual>
      <origin xyz="-0.0537231 8.6932e-08 0.0491927" rpy="-0 0 -0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_2_visual.stl" />
      </geometry>
      <material name="link_2_parts_material">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0537231 8.6932e-08 0.0491927" rpy="-0 0 -0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_2_collision.stl" />
      </geometry>
    </collision>
  </link>
  
  <link name="link_3">
    <inertial>
      <origin xyz="-0.130032 -1.22615e-07 0.0184533" rpy="0 0 0" />
      <mass value="0.702333" />
      <inertia ixx="0.00101864" ixy="7.182e-09" ixz="-0.000683702" iyy="0.00525648" iyz="3.74341e-07" izz="0.0049963" />
    </inertial>
    
    <visual>
      <origin xyz="-0.130032 -1.22615e-07 0.0184533" rpy="-3.14159 1.5708 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_3_visual.stl" />
      </geometry>
      <material name="link_3_parts_material">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.130032 -1.22615e-07 0.0184533" rpy="-3.14159 1.5708 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_3_collision.stl" />
      </geometry>
    </collision>
  </link>
  
  <link name="link_4">
    <inertial>
      <origin xyz="1.6738e-08 0.0432186 -0.0420502" rpy="0 0 0" />
      <mass value="0.414871" />
      <inertia ixx="0.000515297" ixy="-1.63e-10" ixz="3.9e-10" iyy="0.000386038" iyz="0.0001431" izz="0.000474389" />
    </inertial>
    
    <visual>
      <origin xyz="1.6738e-08 0.0432186 -0.0420502" rpy="-1.5708 1.5708 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_4_visual.stl" />
      </geometry>
      <material name="link_4_parts_material">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.6738e-08 0.0432186 -0.0420502" rpy="-1.5708 1.5708 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_4_collision.stl" />
      </geometry>
    </collision>
  </link>
  
  <link name="link_5">
    <inertial>
      <origin xyz="-0.00117288 0.000137934 0.0689055" rpy="0 0 0" />
      <mass value="0.387596" />
      <inertia ixx="0.00074737" ixy="8.08718e-07" ixz="1.59412e-05" iyy="0.00105086" iyz="-1.78453e-06" izz="0.000630968" />
    </inertial>
    
    <visual>
      <origin xyz="-0.00117288 0.000137934 0.0689055" rpy="0 -0 3.14159" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_5_visual.stl" />
      </geometry>
      <material name="link_5_parts_material">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00117288 0.000137934 0.0689055" rpy="0 -0 3.14159" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_5_collision.stl" />
      </geometry>
    </collision>
  </link>
  
  <link name="link_6">
    <inertial>
      <origin xyz="-0.00167827 -3.00667e-05 1.05321e-05" rpy="0 0 0" />
      <mass value="0.180443" />
      <inertia ixx="0.000175546" ixy="2.5423e-08" ixz="-3.492e-09" iyy="0.000173061" iyz="-4.7495e-08" izz="3.44726e-05" />
    </inertial>
    
    <visual>
      <origin xyz="-0.00167827 -3.00667e-05 1.05321e-05" rpy="-3.14159 1.5708 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_6_visual.stl" />
      </geometry>
      <material name="link_6_parts_material">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00167827 -3.00667e-05 1.05321e-05" rpy="-3.14159 1.5708 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_6_collision.stl" />
      </geometry>
    </collision>
  </link>
  
  <link name="link_7">
    <inertial>
      <origin xyz="-0.000489794 0.00071311 0.0271574" rpy="0 0 0" />
      <mass value="0.108782" />
      <inertia ixx="3.14512e-05" ixy="-1.63912e-07" ixz="-5.51875e-07" iyy="3.26443e-05" iyz="8.7265e-08" izz="3.61383e-05" />
    </inertial>
    
    <visual>
      <origin xyz="-0.000489794 0.00071311 0.0271574" rpy="0 -0 -1.5708" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_7_visual.stl" />
      </geometry>
      <material name="link_7_parts_material">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.000489794 0.00071311 0.0271574" rpy="0 -0 -1.5708" />
      <geometry>
        <mesh filename="package://robot_description/meshes/link_7_collision.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_6" type="revolute">
    <origin xyz="-0.0110489 0 0" rpy="1.5708 -0 -1.5708" />
    <parent link="link_6" />
    <child link="link_7" />
    <axis xyz="0 0 1" />
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159" />
  </joint>
  
  <joint name="joint_5" type="revolute">
    <origin xyz="0 -0 0.1125" rpy="0 1.5708 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="0 0 1" />
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708" />
  </joint>
  
  <joint name="joint_4" type="revolute">
    <origin xyz="-0 0.076 -0.05" rpy="-1.5708 -1.5708 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 0 1" />
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159" />
  </joint>
  
  <joint name="joint_3" type="revolute">
    <origin xyz="-0.2 4.2689e-08 -0.0259997" rpy="-0 -0 1.5708" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="0 0 1" />
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159" />
  </joint>
  
  <joint name="joint_2" type="revolute">
    <origin xyz="-0.0895 -0 0.0575" rpy="3.14159 1.5708 0" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 0 1" />
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159" />
  </joint>
  
  <joint name="joint_1" type="revolute">
    <origin xyz="-0 0.174521 0.1365" rpy="0 -0 0" />
    <parent link="base_plate" />
    <child link="link_2" />
    <axis xyz="0 0 1" />
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159" />
  </joint>
  
  <joint name="base_link_to_base_plate" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <parent link="base_link" />
    <child link="base_plate" />
    <axis xyz="0 0 1" />
    <limit effort="10" velocity="10" />
  </joint>
  
  <ros2_control name="robot" type="system">
    <hardware>
      <plugin>robot_hardware/RobotSystem</plugin>
    </hardware>
    <joint name="joint_1">
      <command_interface name="position">
        <param name="min">${-2*pi}</param>
        <param name="max">${2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.15</param>
        <param name="max">3.15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="joint_2">
      <command_interface name="position">
        <param name="min">${-2*pi}</param>
        <param name="max">${2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.15</param>
        <param name="max">3.15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="joint_3">
      <command_interface name="position">
        <param name="min">${-pi}</param>
        <param name="max">${pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.15</param>
        <param name="max">3.15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="joint_4">
      <command_interface name="position">
        <param name="min">${-2*pi}</param>
        <param name="max">${2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.2</param>
        <param name="max">3.2</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="joint_5">
      <command_interface name="position">
        <param name="min">${-2*pi}</param>
        <param name="max">${2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.2</param>
        <param name="max">3.2</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="joint_6">
      <command_interface name="position">
        <param name="min">${-2*pi}</param>
        <param name="max">${2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.2</param>
        <param name="max">3.2</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
</robot>